/*Img header*/

header img {
    width: 60px;
    position: absolute;
    top: 1em;
    left: 4em;
    z-index: 2;
}

img {
    max-width: 100%;
    height: auto;
}

/*Bouton ajouter album*/

.bouton-ajouter {
    display: flex;
    background-color: #2C0100;
    width: 15em;
    justify-content: center;
    border-radius: 25px;
    padding: 0.4em;
    margin: auto;
}

.bouton-ajouter p {
    align-self: center;
    font-family: 'Cairo', sans-serif;
    text-transform: uppercase;
}